{% extends 'base.html.twig' %}

{% block title %}My order - The French Boutique
{% endblock %}

{% block content %}
	<h1>Order n°
		{{ order.reference }}</h1><br>
	<a href="{{ path('account_orders') }}">Return</a>
	<hr>
	<strong>Order status: </strong>
	{% if order.state == 1 %}
		Payment successful.
	{% elseif order.state == 2 %}
		Order being prepared.
	{% elseif order.state == 3 %}
		Order dispatched to the carrier.
	{% endif %}
	<br>
	<strong>Date:</strong>
	{{ order.createdAt|date('d/m/Y') }}<br>
	<strong>Reference:</strong>
	<small>{{ order.reference }}</small><br>
	<strong>Shipment:</strong>
	{{ order.carrierName }}

	<hr>

	<strong>Details:</strong>
	<table class="table mt-4">
		<thead>
			<tr>
				<th scope="col">Product</th>
				<th scope="col">Quantity</th>
				<th scope="col">Unit price</th>
				<th scope="col">Subtotal</th>
			</tr>
		</thead>
		<tbody>
			{% for product in order.orderDetails %}
				<tr>
					<td>{{ product.product }}</td>
					<td>x{{ product.quantity }}</td>
					<td>{{ (product.price / 100)|number_format(2, ',', '.') }}
						€</td>
					<td>{{ (product.total / 100)|number_format(2, ',', '.') }}€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="text-right">
		<strong>Subtotal:</strong>
		{{ (order.getTotal / 100)|number_format(2, ',', '.') }}€<br>
		<strong>Shipping:</strong>
		{{ (order.carrierPrice / 100)|number_format(2, ',', '.') }}€<br>
		<strong>Total:</strong>
		{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.') }}€
	</div>
{% endblock %}
