{% extends 'base.html.twig' %}

{% block title %}Checkout - The French Boutique
{% endblock %}

{% block content %}
	<h2>Order summary</h2>
	<p>Check your personal information before proceeding to checkout.</p>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<strong>Delivery address:</strong><br>
			<div class="form-check mt-4">
				{{ delivery|raw }}
			</div>
			<hr>

			<strong>Shipping options:</strong><br>
			<div class="form-check">
				{{ carrier.name }}<br>
				{{ carrier.description }}<br>
				{{ carrier.price|number_format(2, ',', '.') }}
				€
			</div>
		</div>
		<div class="col-md-6">
			<div class="text-center">
				<b>My order:</b><br/>
			</div>
			<div class="order-summary">
				{% set total = null %}
				{% for key,product in cart %}
					<div class="row {% if key > 0 %}mt-2{% endif %}">
						<div class="col-2">
							<img src="/uploads/{{ product.product.image }}" alt="{{ product.product.name }}" height="75px">
						</div>
						<div class="col-8 my-auto">
							{{ product.product.name }}
							<br>
							<small>
								{{ product.product.subtitle }}
								<br>
								x{{ product.quantity }}
							</small>

						</div>
						<div class="col-2 my-auto">
							{{ ((product.product.price * product.quantity)/ 100)|number_format(2, ',', '.') }}€
						</div>
					</div>
					{% set total = total + (product.product.price * product.quantity) %}
				{% endfor %}
			</div>

			<hr>
			<strong>Subtotal:
			</strong>
			{{ (total / 100)|number_format(2, ',', '.') }}
			€
			<br>
			<strong>Shipping:
			</strong>
			{{ (carrier.price)|number_format(2, ',', '.') }}
			€
			<hr>
			<strong>Total:
			</strong>
			{{ ((total / 100) + carrier.price)|number_format(2, ',', '.') }}
			€

			<a href="" class="btn btn-success btn-block mt-3">Checkout | 
				{{ ((total / 100) + carrier.price)|number_format(2, ',', '.') }}
				€</a>
		</div>
	</div>
{% endblock %}
